<html>
<head>
	<title>Add Data</title>
</head>

<body>
	<a href="adddrp.php">Home</a>
	<br/><br/>

	<form action="add.php" method="post" name="form1">
		<table width="25%" border="0">
			<tr> 
				<td>Course Name</td>
				<td><input type="text" name="cname"></td>
			</tr>
			<tr> 
				<td>Credit</td>
				<td><input type="input" name="crdt"></td>
			</tr>
			<tr> 
				<td>Section</td>
				<td><input type="input" name="section"></td>
			</tr>
			<tr> 
				<td></td>
				<td><input type="submit" name="Submit" value="Add"></td>
			</tr>
		</table>
	</form>
</body>
</html>

